<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="giftcard_giftcard_listing_data_source" xsi:type="string">bb</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="bb" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">giftcard_code</argument>
            <argument name="resourceModel" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\Card</argument>
        </arguments>
    </virtualType>






    <type name="Magento\Checkout\Block\Cart\Coupon">
        <plugin name="Mageplaza_GiftCard_Plugin" type="Mageplaza\GiftCard\Plugin\ExamplePlugin" sortOrder="10" disabled="false"  />
    </type>


</config>
